@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,800,900');
* {
	margin: 0;
	padding: 0;
	border:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*background-color: white;*/
	font-family: 'Montserrat', Arial, sans-serif;
	}

body{
	height:100%;
	overflow-x:hidden;
}
.wrap{
	min-height: 100%;
  height: auto;
  margin: 0 auto -5em;
  padding: 0 0 5em;

}
.verde{
	color:#6ab276;
}
/*****************HEADER*************************/
.header{
	height: 100vh;
	padding:0;
	border:0;
	display:block;
	background-color:white;
	margin: 0 7%;
	background-color: white;

}
/*Titulo*/
header{
	height: 15%;
	border-bottom: solid 0.1em #6ab276;
}

h1{
	font-size:2.5em;
	font-weight: bolder;
	margin-left: 2%;
	margin-top: 1%;
}
/*Bloques*/
.bloque{
	padding-top: 5%;
	
}
.bloque h2{
	font-size:1.7em; 
	margin-right: 0.10%;
}
.bloque p{
	font-size:1em;
	padding-top: 17%;
}.bloque h2, .bloque p {
	margin: 2% 5%;
}
.mov{
	color:#6ab276;
	border-style: solid;
    border-width: 0.1em;
    border-color: #6ab276;
    border-radius: 0; 
    font-size: 1em;
    margin-top: 15%;
    margin-left: 10%;
}
.mov:hover {
	color:#6ab276;
	border-style: solid;
	background-color: white;
    border-width: 0.1em;
    border-color: #6ab276;
}
.mov:active {
	color:#6ab276;
	border-style: solid;
    border-width: 0.1em;
    background-color: white;
    border-color: #6ab276;
}
/*********************SECTIONS********************/

section{
	height:100vh;
	margin-left:20%;
}

#section1, #section1b, #section1c, #escondido5, #section3 {
	background-color: #6ab276;
	color:white;
}
#section2, #section2b, #section4 {
	background-color: white;
}

#section3 p, #section3 h2, #section3 button,  #section4 p, #section4 h2, #section4 button{
	margin-left: 12% !important;
}
.secciones p, .secciones button{
	margin-left:20%;

}
.secciones h2{
	margin-top: 2%;
	margin-left: 20%;
	line-height: 150%;
	font-weight:200;
	letter-spacing: 0.1em;
	font-size: 2.4em;
}
.secciones h3 {
	margin-top: 15%;
	margin-left: 20%;
	line-height: 150%;
	font-weight:200;
	letter-spacing: 0.1em;
	font-size: 2em;
}
.texto-section{
	margin-top: 2%;
}
.escondido{
	display:none;
}

/**********************SECTION 1 - LEGAL **********************/
#section1, #section1b, #section1c, #escondido5{
	color:white;
}
#section1 h2, #section1c h2, #escondido5 h2{
	margin-left: 6%;
	margin-top: 3%;
	width:30%;
}
.sub{
	margin-top: 1%;
}

.strongsub{
	margin-left: 13% !important;
	letter-spacing: 0.10em;
	line-height: 150%;
	font-size: 1.4em;
	margin-top: 0;
	margin-left:2%;
}
ul{
	margin-top: 5%;
}
li {
	line-height: 120%;
	font-size: 1.2em;
	list-style: none;
	font-weight: 500;
	margin-left: 20%;
	letter-spacing: 0.07em;
	margin-bottom: 2%;
}
.fallo{
	font-size: 1.2em;
	font-weight: 200;
	line-height: 110%;
	margin-left:0 !important;
}
.boton-legal, .boton-legal:hover{
	color:white;
	border-style: solid;
    border-width: 0.1em;
    border-color: white;
    border-radius:0;
    background-color: #6ab276;
    margin-top:5%;
}
#section1c h3{
	margin-top: 5% !important;
	margin-left: 7% !important;
	margin-bottom: 5%;
}
.que-leyes{
	margin-top: 0.001%
}
/*sección escondida*/
#escondido5 h3{
	margin-left: 6%;

}
#escondido5 p, #escondido5 li{
	margin-left: 7%;
	width: 80%;
}
#escondido5 p{
	margin-top: 1%;
}
#escondido5 ul{
	margin-top:2%;
}
#escondido5 li{
	font-size: 1em;
	margin-bottom: 1.5%;
}
#escondido5 h3, #section1c h3{
	line-height: 150%;
	font-weight:200;
	letter-spacing: 0.1em;
	font-size: 2em;
}
#section1 h4{ /*QUÉ ES ESTO*/
	font-weight: 200;
	font-size:1.6em;
	letter-spacing: 120%;
	width:60%;
	margin-left: 15%;

}
.leyes{
	color:white;
	border-style: solid;
    border-width: 0.1em;
    border-color: white;
    border-radius:0;
    background-color: #6ab276;
    margin-left: 10%;
    margin-top:5%;
    width:50%;
    padding: 2% 2%;
}

/**********************SECTION 2 - CÓMO ***********************/

#section2 p{
	line-height: 200%;
}
#section2 button{
	margin-top: 2%;
}
#section2 p{
	margin-top: 0.20%;
}
#escondido6 p, #escondido6 li{
	margin-left: 6%;
	width: 90%;
	font-size: 1.2em;
}
#escondido6 ul{
	margin-top: 1%;

}
#escondido6 p:first-child{
	margin-top: 5%;
}
#escondido6 li{
	margin-bottom: 1%;
	list-style: circle;
	margin-left:8%;
}
/**********************SECTION 3 - DÓNDE **********************/
.donde{
	margin-top:5%;
}
.boton-donde{
	color:white;
	border-style: solid;
    border-width: 0.1em;
    border-color: white;
    border-radius:0;
    background-color: #6ab276;
    margin-left: 15%;
    margin-top:10%;
    padding: 2% 5%;
}
.boton-donde:hover{
	color:white;
    border-color: white;
    background-color: #6ab276;
}
.negrita-donde{
	font-weight: bold;
	font-size:2em;
}
.donde p{
	margin-top: 7%;
	line-height: 180%;
	margin-right: 17%;
}

/**************************FOOTER***************************/
footer{
	background-color: black;
	height: 5em;
	color: #FFF;
	

}
.texto-footer{
	color:#FFFFFF;
	font-weight: bolder;
	font-size: 1.5em;
	margin-top: 10%;
	margin-left: 15%;

}

/*********************MEDIAS QUERIES************************************/
@media screen and (min-width: 480px) and (max-width: 768px) and (orientation: landscape){
	.no-mostrar{
		display:none;
	}
	.container-fluid{
		padding:0px;
		margin:0px;
	}
	h1{
		font-size: 2em;
		padding-top: 0;
		margin-top: -1%;
	}
	.header{
		padding-top:0px;
	}

	#header1, #header2, #header3, #header4 {
		height:42.5vh;
	}	

	.bloque h2{
		font-size:1.2em;
		margin-top: 5%;
	}

	.mov{
		margin-top:10%;
		margin-left: 15%;
	}
	.bloque {
	    padding-top: 0;}
	/*SECCIONES LANDSCAPE*/
	.secciones h2{
		margin-left: 6%;
	}
	.secciones h2{
		margin-top: 1%;
		margin-left: 15%;
		line-height: 150%;
		font-weight:200;
		letter-spacing: 0.1em;
		font-size: 1.5em;
	}
	.secciones h3{
		margin-top: 1%;
		margin-left: 15%;
		line-height: 150%;
		font-weight:200;
		letter-spacing: 0.1em;
		font-size: 1.2em;
	}
	/*seccion1*/
	#section1 h2{
		margin-left: 6%;
		margin-top: 1%;
		width:100%;
	}
	.strongsub{
		margin-left: 8% !important;
		letter-spacing: 0;
		line-height: 150%;
		font-size: 1em;
		margin-top: -1%;
	}
	ul{
		margin-top: 1%;
	}
	li {
		font-size: 1em;
		margin-left: 10%;
		margin-right: 5%;
		letter-spacing: 0.07em;
		margin-bottom: 1%;
	}
	.fallo{
		margin-left: 8% !important;
		font-size: 1em;
		font-weight: 200;
		line-height: 110%;
		margin-top: -1% !important;

	}
	.boton-legal, .boton-legal:hover{
		color:white;
		border-style: solid;
	    border-width: 0.1em;
	    border-color: white;
	    border-radius:0;
	    background-color: #6ab276;
	    margin-left: 8% !important;
	    margin-top:1%;
	    font-size: 1em;

	}
	/*escondido*/
	#escondido5{
		height: 200vh;
	}
	#escondido5 h3{
		margin-top: 1%;
		margin-left: 6%;
		line-height: 150%;
		font-weight:200;
		letter-spacing: 0.1em;
		font-size: 1.2em;
	}
	#escondido5 p, #escondido5 li{
		font-size: 1em;
	}
	/*subseccion dentro de 1*/
	#section1b h3, #section1b p{
		margin-left: 6% !important;
	}
	#section1b p{
		font-size: 1em;
	}
	/*subseccion 1c*/
	#section1c h3{
		margin-top: -1% !important;
		margin-left: 6%;
		line-height: 150%;
		font-weight:200;
		letter-spacing: 0.1em;
		font-size: 1.2em;
	}
	.ley{
		margin-top: -1%;
	}
	.leyes{
		width: 30%;
		margin-left: 6%;
		margin-top: 1%;
		font-size: 1em;
		width: 60%;
	}
	.ley-col-dos button{
		margin-bottom: 5%;
	}

	/*seccion2*/	
	#section2 h2{
		margin-top: -1.5% !important;
		margin-left: 12% !important;
	}
	#section2 p{
		line-height: 150%;
		margin-top: 0.20%;
		margin-left: 12% !important;
	}
	#section2 button{
		margin-top: 1%;
		margin-left: 12% !important;
	    font-size: 1em;
	}
	/*seccion 2escondida*/
	#escondido6{
		height: 200vh;
	}
	#escondido6 p, #escondido6 li{
		font-size: 1em;

	}

	/*seccion3*/
	.donde{
		margin-top:5%;
	}
	.boton-donde{
		margin-top: 1%;
		
	    font-size: 1em;
	    padding: 2% 5%;
	}
	.boton-donde:hover{
		color:white;
	    border-color: white;
	    background-color: #6ab276;
	}
	.negrita-donde{
		font-size:1.9em;
	}
	.donde p{
		margin-top: 2%;
		line-height: 150%;
		margin-right: 17%;
	}
	footer{
		height:3em;
	}
	.texto-footer{
		font-size: 1.2em;
		margin-left: 15%;
	}
	.texto-footer strong{
		margin-top: -1.5%;
	}

}

@media screen and  (max-width: 480px) and (orientation: portrait){
	.no-mostrar{
		display:none;
	}
	.header{
		padding-top:0px;
		margin:0 2%;
		height:10%;
	}
	.bloque{
		height: 100%;
	}
	
	h1{
		font-size: 1.5em;
		padding-top: 5%;
	}

	#header1{
		height:42.5vh;
		padding-top: 2.1em;
	}	
	#header2{
		height:42.5vh;
		padding-top: 2.1em;
	}
	#header3{
		height:42.5vh;
	}
	#header4{
		height:42.5vh;
	}
	.bloque h2,p,button{
		margin: 0;
	}
	.bloque h2{
		font-size:1.4em;
		line-height: 125%;
	}

	.mov{
		margin-top: 30%;
	}
	.bloque {
	    padding-top: 0;}
	/*SECCIONES PORTRAIT*/

	.secciones h2{
		margin-top: 1%;
		margin-left: 15%;
		line-height: 150%;
		font-weight:200;
		letter-spacing: 0.01em;
		font-size: 1.5em;
	}
	.secciones h3{
		line-height: 150%;
		font-weight:200;
		letter-spacing: 0.1em;
		font-size: 1.2em;
	}
	/*seccion1*/
	#section1 h2{
		margin-left: 1%;
		margin-top: 10%;
		width:100%;
	}
	.strongsub{
		margin-top: 2%;
		margin-left: 5% !important;
		margin-top:  5% !important;
		letter-spacing: 0;
		line-height: 150%;
		font-size: 1em;
		margin-top: 2%;
	}
	ul{
		margin-top: 5%;
	}
	li {
		font-size: 1em;
		margin-left: 12%;
		margin-right: 5%;
		letter-spacing: 0.07em;
		margin-bottom: 3%;
	}
	.fallo{
		margin-left: 5% !important;
		font-size: 1em;
		font-weight: 200;
		line-height: 110%;
		margin-top: 10% !important;

	}
	.boton-legal, .boton-legal:hover{
		color:white;
		border-style: solid;
	    border-width: 0.1em;
	    border-color: white;
	    border-radius:0;
	    background-color: #6ab276;
	    margin-left: 8% !important;
	    margin-top: 15%;
	    font-size: 1em;

	}
	/*escondido*/
	#escondido5{
		height: 200vh;
	}
	#escondido5 h3{
		margin-top: 20%;
		margin-left: 4%;
		line-height: 150%;
		font-weight:200;
		letter-spacing: 0.1em;
		font-size: 1.2em;
	}
	#escondido5 p {
   		 margin-top: 5%;
	}
	#escondido5 li{
		margin-bottom: 5%;
	}
	#escondido5 p, #escondido5 li{
		font-size: 1em;
	}
	/*subseccion dentro de 1*/
	#section1b h3, #section1b p{
		margin-left: 5% !important;
	}
	#section2b h3{
		margin-top: 0 !important;
	}
	#section1b p{
		font-size: 1em;
	}
	/*subsección c dentro de 1*/
	#section1c h3{
		margin-top: -1% !important;
		width: 90%;
		margin-left: 5%;
		line-height: 150%;
		font-weight:200;
		letter-spacing: 0.1em;
		font-size: 1.2em !important;
	}
	.ley{
		margin-top: -1%;
	}

	.leyes{
		margin-left:6%;
		width: 50%;
		margin-top: 1%;
		font-size: 1em;
		width: 60%;
		padding-left: 2%;
	}
	#section1c .col-xs-6 {
    width: 100%;
	}
/*seccion2*/	
	#section2 h2{
		margin-top: 5% !important;
		margin-left: 5% !important;
	}
	#section2 p{
		line-height: 150%;
		margin-top: 10%;
		margin-left: 5% !important;
	}
	#section2 button{
		margin-top: 15%;
		margin-left: 5% !important;
	    font-size: 1.5em;
	}
	/*seccion 2escondida*/
	#escondido6{
		height: 200vh;
	}
	#escondido6 p, #escondido6 li{
		font-size: 1em;

	}
/*seccion3*/
	.donde{
		margin-top:15%;
	}
	.boton-donde{
		margin-top: 20%;
	    font-size: 1.5em;
	    padding: 2% 5%;
	}
	.negrita-donde{
		font-size:1.5em;
	}
	.donde p{
		margin-top: 20%;
		line-height: 150%;
		margin-left: -1% !important;
	}
/*seccion4*/	
	#section4 h2{
		margin-top: 2% !important;
		margin-left: 5% !important;
	}
	#section4 p{
		margin-top: 5%;
		margin-left: 5% !important;
		margin-bottom: 5%;
	}


/*footer*/
	.footer{
		margin:2% 10%;
		width:100%;
	}
	.texto-footer{
		font-size: 1em;
	}
}