@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
* {
	margin: 0;
	padding: 0;
	border:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*background-color: white;*/
	font-family: 'Montserrat', Arial, sans-serif;
	}

body{
	height:100%;
	overflow-x:hidden;
}
.contenedor{
	width:100%;
}
.verde{
	color:#82c45b;
}
.gris{
	color:#808080;
}
.bullet{
	font-size: 0.6em !important;
	margin-right: 2%;
	margin-top: 1.3%; 
}
ul{
	list-style:none;
}
strong{
	font-weight: 700 !important;
}
/*****************HEADER*************************/
.header{
	height: 100vh;
	padding:0;
	border:0;
	display:block;
	background-color:white;
	margin: 0 7%;
	background-color: white;

}
.p-1{
	padding-top: 27%;
}
.p-4{
	padding-top: 17%;	
}
.b-1{
	margin-top: 30%;
}
.b-3{
	margin-top: 45%;
}
.b-4{
	margin-top: 16%;
}
/*Titulo*/
header{
	height: 15%;
	border-bottom: solid 0.1em #82c45b;
}

#logo{
	
	margin-left: 2%;
	margin-top: 3%;
}
/*Bloques*/
.bloque{
	padding-top: 5%;
	
}
.bloque h2{
	font-size:1.6em; 
	/*margin-right: 0.10%;*/
}
.bloque p{
	font-size:1em;
	/*padding-top: 17%;*/
}
.bloque h2, .bloque p {
	margin: 2% 5%;
}
/*BOTONES*/
.mov, .mov:hover, .mov:active, .mov:focus{
	color:#82c45b;
	border-style: solid;
    border-width: 0.15em;
    border-color: #82c45b;
    border-radius: 0; 
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 3%;
    background-color: white;
    padding: 3% 6%;
}
.boton-oscuro, .boton-oscuro:hover,.boton-oscuro:active,.boton-oscuro:focus{
	background-color: #54873d;
	color:white;
	border-style: none;
    border-radius: 0; 

}
.boton-donde, .boton-donde:hover, .boton-donde:active, .boton-donde:focus{
	color:white;
	border-style: solid;
    border-width: 0.1em;
    border-color: white;
    border-radius:0;
    background-color: #82c45b;
    
    margin-top:10%;
    padding: 2% 5%;
}
.boton-1{
	margin-top: 10%;
}
.btn-ley{
	padding:2% 10%;
}
/*************SECCIONES****************/

.escondido{
	display:none;
}
.borde-verde{
	border-bottom: solid 0.6em #9fe774;
	border-top: solid 0.6em #9fe774;
}
.contenido{
	margin:3% 8%;
}
.contenido h2{
	line-height: 150%;
	font-weight:300;
	font-size: 2.6em;
}
.contenido h3{
	line-height: 150%;
	font-weight:300;
	letter-spacing: 0.1em;
	font-size: 1.5em;
}

/**TAMAÑOS SECCIONES**/
#section1a, #section3{
	height:100vh;
}
#section2a{
	height: 115vh;
}
#section1b,  #escondido1{
	height:130vh;
}
#escondido6, #section4{
	height: 160vh;
}
#section1c{
	height:50vh;
}
 
footer{
	height:10vh;
}
/**COLORES-SECCIONES**/
.fondo-verde{
	background-color: #82c45b;
	color:white;
}
.fondo-mapa{
	background-color: #f2f2f2;
	padding: 0;

}
.fondo-oscuro{
	background-color: #9fe774;
	padding: 0;

}
/*sección uno*/
#section1a h2{
	width:35%;
}
.legal .strongsub{
	letter-spacing: 0.10em;
	line-height: 140%;
	font-size: 1.6em;

	width:90%;
}
.legal .sub{
	margin-top:5%;
}

.fallo li, .fallo p{
	font-weight: 300;
	font-size: 1.2em;
}
.fallo li{
	margin-top: 1%;
}
.fallo p{
	margin-top: 15%;
}

.div-lista{
	display:flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
}
.div-item{
	display:flex;
	justify-content: flex-start;
}
.div-item span{
	font-size: 1.2em;
	font-weight: 300;

}
/*section 1escondida*/
#escondido1 p{
	margin-top: 2%;
	font-weight: 400;
	font-size:1.3em;
	width:50%;
	line-height:170%;
}
#escondido1 .margen-chico{
	margin-left: -1.2% !important;
}

.lista-escondida{
	margin-top: 5%;
}
.bottom-5{
	margin-bottom:5%;
}
/*seccion 1b*/
#section1b{
	color:#808080;
}
#section1b h2{
	width:70%;
}
#section1b p{
	margin-top: 7%;
	width:90%;
	font-size: 1.2em;
}
/*botones seccion 1c*/
.btn-ley-4{
	margin-top: 10%;
}
.btn-ley-3{
	margin-top: 23%;
}
.btn-ley-2{
	margin-top: 36%;
}
.btn-ley-0{
	margin-top: 68%;
}
.btn-ley-1{
	margin-top: 50%;
}
/***SECCION 2**/

#section2a h4{
	margin-top: 7%;
	margin-left: 7%;
	width:70%;
	text-align:center;
	font-size: 1.4em;
	font-style: bold;	
}
#section2a h2{
	width:60%;
}

#section2a .strong2{
	margin-top: 10%;
	width:90%;
	line-height: 140%;
	font-size: 1.6em;
}
#section2a .p2{
	margin-top: 5%;
	font-weight: 300;
	font-size: 1.2em;
	width:80%;
}
.btn-como{
	margin-top: 10%;
	font-size: 1em !important;
}
#agrandar{
	    margin-top: 70%;
    margin-left: 200%;
}
#titulo-flujograma{

	display:flex;
	flex-wrap: nowrap;
}
#flujograma{
	width:120%;	
	padding-right:5%;
	margin-left: -12%;
	margin-top: 5%;
}
/*seccion 2escondida*/
#escondido6 .sub2{
	margin-top: 5%;
}
#escondido6 p{
	margin-bottom: 5%;
	font-weight: 400;
	font-size:1.2em;
}
#escondido6 .lado-izq{
	width:45%;
}
#escondido6 .lado-der{
	margin-left: 5%;
}
#escondido6 strong{
	margin-top: 3%;
	margin-bottom: 5%;
	font-size:1.2em;
}
/*SECCIÓN 3*/
#donde-titulo{
	margin-top: 15%;
	width:25%;
}
#donde-explicacion{
	margin-top: 2%;
	width:90%;
	line-height: 140%;
	font-size: 1.6em;
}
/*SECCIÓN 4*/
#section4 h2{
	width: 35%;
}
#section4 .sub4{
	margin-top: 4%;
}
.substrong4{
	width:90%;
}
#section4 strong{
	line-height: 140%;
	font-size: 1.6em;
}
.explicacion-campaña p{
	font-size: 1.2em;
	margin-bottom: 5%;
}
.explicacion-campaña ul{
	margin-bottom: 5%;
}
.explicacion-campaña li{
	font-size:1.6em;
	margin-bottom: 2%;
}

/*********************MEDIAS QUERIES************************************/
@media screen and (min-width: 480px) and (max-width: 768px) and (orientation: landscape){
	.no-mostrar{
		display:none;
	}
	.header{
		padding-top:0px;
	}

	#header1, #header2, #header3, #header4 {
		height:42.5vh;
	}	

	.bloque h2{
		font-size:1.2em;
		margin-top: 5%;
	}

	.b-1,.b-4,.b-3{
	margin-top: 5%;
	}
	.contenido h2{
		margin-top: 5%;
		font-size: 1.8em;
	}
	.contenido h3{
		margin-top: 1%;
		font-size: 1.2em;
	}


/*SECCION 1*/
#section1a h2{
	width:70%;
}
.legal .strongsub{
	/*line-height: 120%;*/
	font-size: 1.2em;
	width:100%;
}
.legal .sub{
	margin-top:2%;
}

.fallo li, .fallo p{
	font-weight: 200;
	font-size: 1.2em;
}
.fallo li{
	margin-top: 1%;
}
.fallo p{
	margin-top: 5%;
}
 .boton-1{
 	margin-top:5%;
 	margin-bottom:10%;
 }
/*section 1escondida*/
#escondido1 p{
	width:100%;	
}

/*leyes*/
.ley{
	margin-top: 3%;
}
.btn-ley-4{
	margin-top: 10%;
}
.btn-ley-3{
	margin-top: 20%;
}
.btn-ley-2{
	margin-top: 18%;
}
.btn-ley-0{
	margin-top: 23%;
}
.btn-ley-1{
	margin-top: 10%;
	margin-bottom: 15%;
}
/*SECCION 2*/
#section2a h4{
	margin-top: 10%;
	margin-left: 15%;
}
#section2a .strong2{
	margin-top: 5%;
	width:100%;
	font-size: 1.2em;
}
#section2a .p2{

	width:100%;
}
.btn-como{
	margin-top: 10%;
	font-size: 1em !important;
}
#flujograma{
	padding-bottom: 10%;
	margin-left: -7%;
	margin-top: 5%;
	padding-right: 5%;
}
#agrandar{
	margin-top:100%;
	margin-left: 130%;
}
.mimodal{
	width:95%;
}
.grande{
	width:100%;
}

/*SECCION 2 ESCONDIDA*/

#escondido6 .sub2{
	margin-top: 5%;
}
#escondido6 p{
	margin-bottom: 5%;
	font-weight: 300;
	font-size:1.2em;
}
#escondido6 .lado-izq{
	width: 100%;
}
#escondido6 .lado-der{
	margin-left: 0;
}
#escondido6{
	height: 375vh;
}
/*SECCION 3*/
#donde-titulo{
	margin-top: 10%;
}
#donde-explicacion{
	margin-top: 5%;
	width:100%;
	font-size: 1.2em;
}
.boton-donde{
	margin-top: 5%;
	margin-bottom:10%;
}
/*SECCION 4*/
#section4 h2{
	width:70%;
}
#section4 .sub4{
	margin-top: 4%;
}
.substrong4{
	width:100%;
}
}
@media screen and  (max-width: 480px) and (orientation: portrait){
	.bullet{
	margin-top: 3%; 
}
	#logo{
		width:100%;
		padding-top: 3em;
		padding-bottom: 3em;
	}
	.no-mostrar{
		display:none;
	}
	.header{
		padding-top:0px;
		margin:0 2%;
		height:20%;
	}
	.bloque{
		height: 100%;
	}

	#header1{
		height:42.5vh;
		padding-top: 3em;
	}	
	#header2{
		height:42.5vh;
		padding-top: 3em;
	}
	#header3{
		height:42.5vh;
	}
	#header4{
		height:42.5vh;
	}
	.bloque h2,p,button{
		margin: 0;
	}
	.bloque h2{
		font-size:1.4em;
		line-height: 125%;
	}

	.mov{
		margin-top: 30%;
	}
	.bloque {
	    padding-top: 0;}

.contenido h2{
	font-size: 2em;
}


	/*SECCION 1*/
#section1a h2{
	width:100%;
}
.legal .strongsub{
	font-size: 1.2em;
	width:100%;
}
.legal .sub{
	margin-top:5%;
}

.fallo li, .fallo p{
	font-weight: 200;
	font-size: 1.2em;
}
.fallo li{
	margin-top: 1%;
}
.fallo p{
	margin-top: 5%;
}
 .boton-1{
 	margin-top:10%;
 	margin-bottom:10%;
 }
/*section 1escondida*/
#escondido1 p{
	width:100%;	
}
/*1b¨*/
#section1b h2{
	width:100%;
}

/*leyes*/
.ley{
	margin-top: 5%;
}
.btn-ley-4{
	margin-top: 10%;
}
.btn-ley-3{
	margin-top: 29%;
}
.btn-ley-2{
	margin-top: 80%;
}
.btn-ley-0{
	margin-top: 44%;
}
.btn-ley-1{
	margin-top: 10%;
	margin-bottom: 30%;
}
/*SECCION 2*/
#section2a h2 {
    width: 100%;
}
#section2a h4{
	margin-top: 20%;
	margin-left: 0;
	width:100%;
	text-align:left;
	font-size: 1.2em;
	font-style: bold;	

}
#section2a .strong2{
	margin-top: 5%;
	width:100%;
	font-size: 1.2em;
}
#section2a .p2{

	width:100%;
}
.btn-como{
	margin-top: 10%;
	font-size: 1em !important;
}
#flujograma{
	padding-bottom: 20%;
	margin-left: -8%;
}
#agrandar{
	width:100%;
	margin-top:150%;
	margin-left: 30%;
}
.mimodal{
	width: 95%;
}
.grande{
	width:100%;
}

/*SECCION 2 ESCONDIDA*/

#escondido6 .sub2{
	margin-top: 5%;
}
#escondido6 p{
	margin-bottom: 5%;
	font-weight: 300;
	font-size:1.2em;
}
#escondido6 .lado-izq{
	width: 100%;
}
#escondido6 .lado-der{
	margin-left: 0;
}
#escondido6{
	height: 340vh;
}
/*SECCION 3*/
#donde-titulo{
	margin-top: 10%;
}
#donde-explicacion{
	margin-top: 5%;
	width:100%;
	font-size: 1.2em;
}
.boton-donde{
	margin-top: 5%;
	margin-bottom:10%;
}
/*SECCION 4*/
#section4 h2{
	width:100%;
}
#section4 .sub4{
	margin-top: 4%;
}
.substrong4{
	width:100%;	
}
#section4 strong {
    font-size: 1.2em;
}
.explicacion-campaña li {
    font-size: 1.4em;

}



}

}